django-localflavor==1.1
django-countries
celery==3.0.12
https://github.com/poswald/python-money/archive/1.1.zip
docutils==0.12
jinja2==2.8
mangopaysdk==2.0
Sphinx==1.2.2
django-model-utils==1.4.0
django-storages==1.1.8
requests==2.2.1
requests-oauthlib==0.6.1
django-jsonfield==0.9.15
django-filepicker==0.2.2
